.idea/
venv/
.DS_Store
*/**/.DS_Store
*/.DS_Store
.pytest_cache/
pytest_report.html
pytest_html_reporter/__pycache__/
pytest_html_reporter.egg-info/
tests/__pycache__/
dist/
test_draft/
report/
__pycache__/
.coverage
archive
output.json
pytest_html_report.html
pytest_screenshots
coverage.xml
build