include LICENSE
include README.rst

global-include *.py
recursive-include html_page/html *.html
recursive-include html_page/icons *.svg
recursive-include html_page/images *
recursive-include html_page/vendor *.js *.css
include html_page/vendor/README.md
include html_page/icons/README.md
prune tests/
prune test_draft/
prune venv/
exclude CHANGELOG.txt
exclude requirements.txt