body {
    font-family: -apple-system, sans-serif;
    background-color: #eeeeee;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #211f1f;
    overflow-x: hidden;
}

.sidenav a {
    padding: 12px 10px 8px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #a2a2a2;
    display: block;
}

.main {
    padding-top: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.wrimagecard {
    margin-top: 0;
    margin-bottom: 0.6rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #f8f9fa;
}

.rowcard {
    # padding-top: 10px;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 6px;
    transition: all 0.3s ease;
    # background-color: white;
}

.tablecard {
    background-color: white;
    font-size: 15px;
}
tr {
    height: 40px;
}

.dt-buttons {
    margin-left: 5px;
}
th, td, tr {
    text-align:center;
    vertical-align: middle;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://i.ibb.co/cXnKsNR/Cube-1s-200px.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

.card-wrapper {
  background-color: #f5f5f5;
  # height: 100vh;
  # width: 100vw;
  display: grid;
}

.card {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  # place-self: center;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.card__content {
  padding: 1.5rem;
  font-family: sans-serif;
}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  padding-top: 4%;
  padding-left: 5%;
  color: dimgrey;
}

.header__date {
  font-size: 1.3rem;
  font-family: sans-serif;
  padding-left: 5%;
  color: darkgray;
}

.total__count {
  font-size: 5.3rem;
  font-family: sans-serif;
  color: black;
  padding-top: 8%;
}

.total_count__label {
  font-size: 1.3rem;
  font-family: sans-serif;
  padding-left: 12%;
  color: darkgray;
}

.header__title-icon {
  font-size: 1.6rem;
  color: #ccc;
}

.header__title-icon:hover {
  color: rgba(54, 162, 235, 1);;
}

.header__button {
  border-radius: 50px;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border: none;
  margin-left: 1rem;
}

.header__button:hover {
  background-color: rgba(54, 162, 235, 0.25);
}

.chart {
  padding: 2.0rem 60;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

.archive-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
  max-width: 60%;
  padding-top: 5.5%;
  padding-left: 5%;
}

.card__footer-section {
  text-align: center;
  width: 33%;
  # border-right: 1px solid #ccc;
}

.archive-card__footer-section {
  text-align: center;
}

.card__footer-section:nth-child(3) {
  border-right: none;
}

.footer-section__data {
  font-size: 2.2rem;
  font-weight: 900;
}

.archive-footer-section__data {
  font-size: 4.2rem;
  font-weight: 700;
}

.footer-section__label {
  text-transform: uppercase;
  color: slategrey;
  font-size: 1.0rem;
}

.list-group-item {
    border: 5px solid rgba(0,0,0,0);
}

.list-group {
    height: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    place-self: center;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.archive-body {
    height: 100%;
    background-color: #ffff;
    max-width: 85%;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    margin-bottom: 0.8%;
}

.archive-header {
    padding-top: 4%;
    padding-left: 5%;
    color: gray;
}

.archive-date {
    padding-top: 2%;
    padding-left: 5%;
    color: gray;
}

.archive-chart-container {
    margin-top: 6%;
    height: 50%;
    width: 50%;
    margin-left: 40%;
}

.statistic-section-pass {
     padding-top: 51px;
     padding-bottom: 45px;
     background: #00c6ff;  /* fallback for old browsers */
     background: linear-gradient(to right, #333333, #2b4440);
}

.statistic-section-fail {
     padding-top: 51px;
     padding-bottom: 45px;
     background: #00c6ff;  /* fallback for old browsers */
     background: linear-gradient(to right, #333333, #442b2b);
}

.count-title {
    font-size: 50px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
      text-align: center;
      font-weight: bold;
    color: #fff;
}

.stats-text {
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
}

.stats-line-black {
    margin: 12px auto 0;
    width: 55px;
    height: 2px;
    background-color: #fff;
}

.stats-icon {
      font-size: 35px;
      margin: 0 auto;
    float: none;
    display: table;
    color: #fff;
}

@media (max-width: 992px) {
    .counter {
        margin-bottom: 40px;
    }
}

.archive-build-row {
    right: 0.5%;
    width: 200px;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.loading {
    height: 200px;
    padding-top: 35px;
}

.loading p {
    font-size: 1.1rem;
    padding-top: 5%;
    margin: 0px 0 45px;
    color: dimgrey;
    float: right;
}

.loading .icon {
    padding-right: 15px;
}

.loading .percentage {
    float: right;
    padding: 6px 35px 0 0;
}

.loading .progress-bar {
    height: 20px;
    background: #50597b;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: -4%;
}

.arrow {
    left: 50%;
    color: #403b3b;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
}

.tooltip-inner {
    background-color: #403b3b;
}

.bs-tooltip-top .arrow::before {
    border-top-color: #403b3b;
}

.suite-highlights-header {
    font-size: 0.95rem;
    padding-top: 5%;
    margin: 0px 0 45px;
    color: dimgrey;
    float: right;
}